.product {
    position: relative;
    background-color: #FFF;
    margin: 16px;
    width: 200px;
    border-radius: 2px;
}

.product .product-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 150px;
    margin-bottom: 1em;
}

.product .product-image img {
    cursor: zoom-in;
    width: 90%;
    height: auto;
    transition: transform 300ms ease-in;
    transform: scale(.9);

}

@media (min-width: 991px) {
    .product .product-image img {
        min-height: 200px;
    }
}

.product-image:hover {
    transform: scale(1.1);
}

.product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    max-height: 40px;
    min-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;

}

.product-price:before {
    content: "$ ";
}

.product-name,
.product-price {
    color: #888;
    padding: 0 16px;
    text-align: center;
}

.product-action {
    position: absolute;
    padding: 16px;
    bottom: 0px;
    vertical-align: bottom;
    width: 100%;
}

.product-action button {
    width: 100%;
    transition: all 300ms ease-in;
    border-radius: 5px;
    background-color: #2AAA8A;
    border: none;
    color: #FFF;
}

.product-action button:hover {
    background-color: rgb(13, 110, 253);
}

product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sponsored-ad-tag-wrapper {
    position: absolute;
    left: 10px;
    top: -10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.sponsored-ad-tag {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    border-radius: 4px;
    color: #777;
    padding: 1px 14px 1px 4px;
    position: relative;
    z-index: 1;
}